/* * {
    border: 1px solid red;
} */


:root {
    --default-background: #121213;
    --empty: #3a3a3c;
    --wrong: #ff0150;
    --right: #538d4e;
    --chances: 6;
    --word_length: 5;
}

html,
body,
footer {
    background-color: var(--default-background);
    color: white;
    display: flex;
}


#game {
    display: grid;
    place-items: center;
    width: 100%;
}

#bodyContainer {
    background-color: rgb(93, 93, 93);
    border-radius: 1rem;
    max-width: 800px;
    padding: 1rem;
    justify-content: center;
}

.keyboard {
    color: white;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(26, auto);
}

.alphaletter {
    list-style-type: none;
    float: left;
    margin: 2rem .25rem;
    text-transform: uppercase;
    font-family: sans-serif;
    font-size: 1.25rem;

}

.title {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 2.4rem;
    margin-top: 5rem;
    margin-bottom: 20px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(var(--word_length), auto);
    grid-template-rows: repeat(var(--chances), auto);
}

.box {
    width: 60px;
    height: 60px;
    border: 2px solid var(--empty);
    margin: 4px;
    color: white;
    text-transform: uppercase;
    display: grid;
    place-items: center;
    font-family: sans-serif;
    font-size: 2.4rem;
}

.box.empty {
    background-color: var(--empty);
}

.box.wrong {
    background-color: var(--wrong);
}

.box.right {
    background-color: var(--right);
}

.alphaletter.empty {
    color: var(--empty);
}

.alphaletter.wrong {
    color: var(--wrong);
}

.alphaletter.right {
    color: var(--right);
}

.animated {
    animation: flip 0.5s ease-in-out;
}

#footer {
    display: flex;
    justify-content: center;
    text-align: center;
}

@keyframes flip {
    0% {
        transform: scaleY(1);
    }

    50% {
        transform: scaleY(0);
    }

    100% {
        transform: scaleY(1);
    }
}