:root {
    --default-background: #121213;
    --empty: #3a3a3c;
    --wrong: #ffd501;
    --right: #538d4e;
    --chances: 6;
    --word_length: 5;
}

html,
body,
footer {
    background-color: var(--default-background);
    color: white;
    display: flex;
    justify-content: center;
}

a {
    color: white
}


#game {
    display: grid;
    place-items: center;
    width: 100%;
}

#bodyContainer {
    background-color: rgb(93, 93, 93);
    border-radius: 1rem;
    max-width: 800px;
    padding: 1rem;
    margin: 0 auto;
}

.keyboard {
    color: white;
    display: grid;
    grid-template-columns: repeat(13, minmax(20px, 1fr));
    padding: 0;
    text-align: center;
    gap: .5rem;
}

.alphaletter {
    list-style-type: none;
    text-transform: uppercase;
    font-size: 1.25rem;
}

#title {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 3rem;
    margin: 2rem auto;
}

.grid {
    display: grid;
    grid-template-columns: repeat(var(--word_length), auto);
    grid-template-rows: repeat(var(--chances), auto);
}

.box {
    width: 60px;
    height: 60px;
    border: 2px solid var(--empty);
    margin: 4px;
    color: white;
    text-transform: uppercase;
    display: grid;
    place-items: center;
    font-family: sans-serif;
    font-size: 2.4rem;
    background-color: black;
    border-radius: 2px;
}

.box.empty {
    background-color: var(--empty);
}

.box.wrong {
    background-color: var(--wrong);
}

.box.right {
    background-color: var(--right);
}

.alphaletter.empty {
    color: var(--empty);
}

.alphaletter.wrong {
    color: var(--wrong);
}

.alphaletter.right {
    color: var(--right);
}

.animated {
    animation: flip 0.5s ease-in-out;
}

#btns {
    text-align: center;
    padding: 1rem;
    border-radius: 10px;
}

#btns button {
    padding: .5rem;
    border-radius: 10px;
    transition: all 0.3s;
}
#btns button:hover {
    background-color: var(--default-background);
    color: white;
}


#footer p {
    text-align: center;
}

@keyframes flip {
    0% {
        transform: scaleY(1);
    }

    50% {
        transform: scaleY(0);
    }

    100% {
        transform: scaleY(1);
    }
}